@model List<HumanResource.Models.HRMS.StrRequestDetails>

<div class="row">
    <table id="RequestDetailsTable" class="table table-striped table-bordered bulk_actionv CodeTable">
        <thead>
            <tr class="table-primary">
                <th scope="col">CategoryCode </th>
                <th scope="col">ItemCode</th>
                <th scope="col">ItemQuantity</th>
                <th scope="col"> ItemRemar </th>
                <th> <button id="AddCategory" type="button" class="btn btn-primary" onclick="AddItem(this)">Add</button></th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.Count; i++)
            {

                <tr>

                    <td>
                        @Html.HiddenFor(m => m[i].IsDeleted)
                        @Html.DropDownListFor(m => m[i].CategoryCode, (IEnumerable<SelectListItem>)ViewBag.ListofCategory,
                    new {@class="form-control", @id="lstCategoryCtrl-"+i, @onchange="FillItems(this,'lstItemId-"+i+"')"})
                        @Html.ValidationMessageFor(m => m[i].CategoryCode, null, new { @class = "text-danger"})
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m[i].ItemCode, (IEnumerable<SelectListItem>)ViewBag.ListofItems,
                    new {@class="form-control", @id="lstItemId-"+i})
                        @Html.ValidationMessageFor(m => m[i].ItemCode, null, new { @class = "text-danger"})
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[i].ItemQuantity, new { @class="form-control", @type = "number", id="ItemQuantity",
                        onchange = $"VerifyQuantity(this, 'lstItemId-{i}')", data_quantity_id = $"quantity-{i}" })
                        @Html.ValidationMessageFor(m => m[i].ItemQuantity, null, new { @class = "text-danger", id = "validationMessageId" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[i].ItemRemark, new {@class="form-control"})
                        @Html.ValidationMessageFor(m => m[i].ItemRemark, null, new { @class = "text-danger"})
                    </td>
                    <td><button type="button" class="btn btn-primary" id="btnremove-@i" onclick="DeleteItem(this);">Delete</button> </td>
                </tr>

            }
        </tbody>


    </table>
</div>


                       