@model HumanResource.Models.HRMS.StrReqMstr


<div class="row">
    <div class="col-md-12">
        <form asp-action="StorReqAddOrEdit" id="ApplicationForm" asp-route-id="@Model.ReqNo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReqNo" />            
                <div class="card card-raised border-top border-4 border-primary h-100">                
                    <div class="card-body p-5">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="EmpNo" class="control-label"></label>
                                <input asp-for="EmpNo" value="@ViewBag.EmpNo" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Employee Name</label>
                                <input type="text" value="@ViewBag.EmpNameA" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            

            <div class="row p-4">
            </div>

            <div class="card card-raised border-top border-4 border-primary h-100">
                <div class="card-header bg-transparent px-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="me-4">
                            <h2 class="card-title mb-0">Order details</h2>
                        </div>

                    </div>
                </div>
                <div class="card-body p-5">
                    <!-- Add the partial view to handle the detail entity -->
                    @Html.Partial("_OrderItems", Model.StrRequestDetails);
                  

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="@Model.ManagrAppr" class="control-label"></label>
                            <select class="form-control" asp-for="@Model.ManagrAppr" asp-items="@ViewBag.ListofManagers">
                                <option value="">---Select Manager---</option>
                            </select>
                            <span asp-validation-for="@Model.ManagrAppr" class="text-danger"></span>
                        </div>

                   </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Submit" class="btn btn-primary btn-block w-100" />
                    </div>


                </div>

            </div>
        
        </form>
    </div>
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   
}

